fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
chromadb
sentence-transformers
google-cloud-aiplatform
google-cloud-vision
google-cloud-speech
google-cloud-texttospeech
ffmpeg-python
beautifulsoup4
requests
python-multipart
youtube-transcript-api
# Для чтения PDF-файлов
PyMuPDF
# Для чтения DOCX-файлов (на всякий случай, так как он был в content_processor)
python-docx